<nav class="block_nav">
    <ul class="nav_row">
        <li class="nav_li"><a href="http://localhost:8081/client/">List Client</a></li>
        <li class="nav_li"><a href="http://localhost:8081/client/new">New Client</a></li>

        <li class="nav_li"><a href="http://localhost:8081/address/">List Address</a></li>
        <li class="nav_li"><a href="http://localhost:8081/address/new">New Address</a></li>

        <li class="nav_li"><a href="http://localhost:8081/invoice/">List Invoice</a></li>
        <li class="nav_li"><a href="http://localhost:8081/invoice/new">New Invoice</a></li>
    </ul>
</nav>